<%= form_tag(number_index_path, :method => 'post') do %>
  <p>
    Numarayı gir
    <br/>
    <%= number_field_tag "no", max: 4  %>
  </p>
  <p>
    <%= submit_tag "Submit", class: "button" %>
  </p>
<% end %>

<%= @no %>
