<!DOCTYPE html>
<html>
  <head>
    <title>Bulutfon Stj</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="background-color: #cae9f7">
    <%= yield %>
  </body>
</html>
